@font-face {
	font-family: "HNL";
	src: url(../fonts/helveticaneue-light.otf);
}
@font-face {
	font-family: "HNB";
	src: url(../fonts/helveticaneue-boldcond.otf);
}
/* ===HEADER=== */
#header {
	margin: 0 auto;
}
#headerContent {
	margin-left: 140px;
	height: 125px;
	width: 97.5%;
}
#header h1 {
	color: white;
	font-size: 1.5em;
	font-weight: normal;
}
#logoContainer img {
	width: 85px;
	height: 85px;
	background-size: 100% 100%;
	position: absolute;
	margin-top: -20px;
	margin-left: -39px;
}
#loginBar {
	width: 100%;
	height: 25px;
	background-color: rgb( 51, 62, 106);
}
#loginBarContainer {
	float: right;
	margin-right: 20px;
	margin-top: 3px;
}
#loginBar a {
	color: white;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
}
/* ===Image Navigation Bar=== */

#newNav {
	margin: 0 auto;
	width: 1179px;
	white-space: nowrap;
	border-width: 3px;
	border-color: rgb(51, 62, 106);
	border-style: solid;
	display: table;
	border-collapse: collapse;
	border: none;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	margin-top: 9px;
}
#newNav ul {
	display: table-row;
}
#newNav li {
	display: table-cell;
	margin: 0;
	width: 12.5%;
	text-align: center;
	color: rgb(51, 62, 106);
	position:relative;
}
#newNav a {
	text-decoration: none;
	white-space: nowrap;
	color: rgb(51, 62, 106);
	margin-bottom: 5px;
	font-family: HNB;
	padding-top: 65px;
	display: inline-block;
}
#newNav td {
	height: 75px;
}
#newNav img {
	width: 50px;
	height: auto;
	margin-bottom: 10px;
}
.bottomText{position:absolute; bottom:0;}
/* =Image= */
#home {background-image: url(../img/navBar/home.png);}
#home:hover, #homeSelected {background-image: url(../img/navBar/homeSelected.png);}

#housing {background-image: url(../img/navBar/housing.png);}
#housing:hover, #housingSelected {background-image: url(../img/navBar/housingSelected.png);}

#roomie {background-image: url(../img/navBar/roomie.png);}
#roomie:hover, #roomieSelected {background-image: url(../img/navBar/roomieSelected.png);}

#admissions {background-image: url(../img/navBar/admissions.png);}
#admissions:hover, #admissionsSelected {background-image: url(../img/navBar/admissionsSelected.png);}

#finances {background-image: url(../img/navBar/finances.png);}
#finances:hover, #financesSelected {background-image: url(../img/navBar/financesSelected.png);}

#theRealLife {background-image: url(../img/navBar/theRealLife.png);}
#theRealLife:hover, #theRealLifeSelected {background-image: url(../img/navBar/theRealLifeSelected.png);}

#visit {background-image: url(../img/navBar/visit.png);}
#visit:hover, #visitSelected {background-image: url(../img/navBar/visitSelected.png);}

#deadlines {background-image: url(../img/navBar/deadlines.png);}
#deadlines:hover, #deadlinesSelected {background-image: url(../img/navBar/deadlinesSelected.png);}

/* =Change text color= */
#home:hover a, #homeSelected a, #housing:hover a, #housingSelected a, 
#roomie:hover a, #roomieSelected a, #admissions:hover a, #admissionsSelected a, 
#finances:hover a, #financesSelected a, #theRealLife:hover a, 
#theRealLifeSelected a, #visit:hover a, #visitSelected a, #deadlines:hover a, #deadlinesSelected {
	color: rgb(221, 135, 39);
}
/* =Positiong background image= */
#home, #home:hover, #homeSelected, #housing, #housing:hover, #housingSelected, 
#roomie, #roomie:hover, #roomieSelected, #admissions, #admissions:hover, #admissionsSelected, 
#finances, #finances:hover, #financesSelected, #theRealLife, #theRealLife:hover, 
#theRealLifeSelected, #visit, #visit:hover, #visitSelected, #deadlines, #deadlines:hover, #deadlinesSelected {
	background-repeat: no-repeat;
	background-size: 60px 55px;
	background-position: 50% 0;
}
/* ===Sub Nav=== */
#subNav {
	text-align: center;
	background-color: transparent;
	width: 1179px;
	z-index: 2;
	min-height: 35px;
	border-top: 3px solid rgb(116,116,116);
	margin: 0 auto;
	padding-top: 2px;
	vertical-align:top;
}
#subNav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
}
#subNav li {
	display: inline-block;
	width:180px;
	height:25px;
	color: white;
	border-top: 2px solid white;
	font-family: inherit;
	font-size: inherit;
	background-color: rgb(116,116,116);
	line-height:23px;
}
#subNav a {
	font-size: .875em;
	text-decoration: none;
	color: white;
	font-family: HNL;
}
#subNav .selected{font-family:HNB; text-transform: uppercase;}
/* ===Searching=== */

.collegeSearchBox::-webkit-input-placeholder { /* WebKit browsers */
 color:rgb(51, 62, 106);
}
.collegeSearchBox:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:rgb(51, 62, 106);
}
.collegeSearchBox::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:rgb(51, 62, 106);
}
.collegeSearchBox:-ms-input-placeholder { /* Internet Explorer 10+ */
 color:rgb(51, 62, 106);
}
.siteSearchSkin::-webkit-input-placeholder { /* WebKit browsers */
 color:rgb(51, 62, 106);
}
.siteSearchSkin:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:rgb(51, 62, 106);
}
.siteSearchSkin::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:rgb(51, 62, 106);
}
.siteSearchSkin:-ms-input-placeholder { /* Internet Explorer 10+ */
 color:rgb(51, 62, 106);
}
/* ============ Search Bar =============== */
#searchBar {
	width: 100%;
	height: 45px;
	border-bottom: 2px solid rgb(51, 62, 106);
	background-color: rgb(232, 229, 228);
}
/* ====== COLLEGE SEARCH ===== */
#collegeSearchContainer {
	background-color: rgb(232, 229, 228);
	height: 43px;
	overflow: hidden;
	border-width: 1px;
	border-color: gray;
	width: 50%;
	float: left;
	white-space:nowrap;
}
.collegeSearchBox {
	font-size: 32px;
	height: 45px;
	width: 90%;
	color: rgb(51, 62, 106);
	background-color: transparent;
	border: 0;
	padding-left: 10px;
	font-family: HNB;
	font-size: 1.875em;
	overflow: hidden;
}
.collegeSearchBox input {
	padding-left: 50px;
	display:block;
}
.collegeSearchButton {
	text-indent: -99999px;
	display: inline-block;
	width: 23px;
	height: 20px;
	background-image: url(../img/triangle.png);
	background-color: transparent;
	border: 0;
	padding-top: 8px;
	margin-left: 10px;
	background-repeat: no-repeat;
}
/* ==== Site Search ==== */
#siteSearchContainer {
	margin-top: 9px;
	margin-right: 25px;
	width: 300px;
	height: 25px;
	border: 2px solid rgb(51, 62, 106);
	border-radius: 20px;
	float: right;
	background: white;
	overflow: hidden;
	white-space:nowrap;
}
.siteSearchSkin {
	width: 90%;
	text-align: right;
	border: 0;
	height: 18px;
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.875em;
	color: rgb(51, 62, 106);
}
#magnify {
	width: 16px;
	height: 15px;
	background-image: url(../img/magnifyingglass.png);
	display: inline-block;
	margin-bottom: -4px;
	margin-left: 5px;
	background-repeat: no-repeat;
}
h1 {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-left: 5px;
}
/* =========== Nav Boxes =============== */
#buttonNav {
	height: 100px;
	width: 964px;
	margin-left: -2px;
	margin-bottom: -1px;
}
#buttonNav ul {
	list-style-type: none;
}
#buttonNav ul li {
	display: inline-block;
}
.box {
	width: 118px;
	height: 97px;
	color: white;
	background-color: white;
	z-index: -2;
}
#buttonNav img {
	padding: 0px;
	display: block;
	margin: 0 auto;
}
@media (max-width:1179px){
	#newNav{width:100%;}
	#subNav{width:98%;}
}
@media (max-width:1000px){
	#collegeSearchContainer span{display:none;}
}
@media (max-width: 940px) {
	#newNav span{display:none;}
	#siteSearchContainer{width:30%;}
}
/* ====== Login and Register ========== */
#overlay{
	z-index:1001;	
	position: absolute; 
	right: 50%;
}
#overlayBackground{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:rgba(255,255,255,0.7);
	z-index:1000;}
#loginRegisterContainer,#videoPlayerContainer{
	border:2px solid rgb( 51, 62, 106);
	width:1190px;
	min-height: 300px;
	background-color:white;
	margin:0 auto;
	margin-top: 100px;
	z-index:14;
	position: relative; left: 50%;
}
#loginRegisterContainer a,#videoPlayerContainer a{
	text-decoration:none;
	color:rgb( 51, 62, 106);
	font-family:Georgia, "Times New Roman", Times, serif;
}
.fakeVideo{width:90%; height:500px; background-color:gray; border:2px solid rgb(51, 62, 106); margin:0 auto;}
#loginRegisterContainer ul{list-style-type:none; padding: 0;}
#loginRegisterContainer li{margin-bottom: 10px;}
#topBar{width:100%; background-color:rgb(51, 62, 106); height: 25px; margin-bottom:20px;}
#xClose{color:white; font-weight:bold;float:right; cursor:pointer; padding-right: 5px;}
#logIn{width:350px; display:inline-block; vertical-align:top; overflow:hidden;}
#logIn button{float:right; margin-right:42px;}
#logIn label{
	width: 100px; 
	text-align:right; 
	display:inline-block; 
	color:rgb(116,116,116); 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	margin-right: 10px;
}
#logIn input{width: 200px;}
#register{
	display:inline-block;
	width:830px;
	border-left:2px solid rgb(116,116,116);
	vertical-align:top;
}
#register label{
	width: 150px; 
	text-align:right; 
	display:inline-block; 
	color:rgb(116,116,116); 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	margin-right: 10px;
}
.registerPic{display:inline-block; vertical-align:top;}
.registerPic img{border:2px solid #eee9e9;}
#register .registerPic label{display:inline-block; width:70px; height: 70px; vertical-align:top; background-repeat:no-repeat; border: 1px solid rgb(116,116,116);}
.registerPic input[type="radio"]{display:none;}
#register .registerPic input[type="radio"]:checked + label{border: 2px solid rgb(220, 134, 39); color:rgb(220, 134, 39);}
.textBot{text-align:center; white-space:nowrap; padding-top: 50px;}
.registerPic input[type="radio"]:checked +label .textBot{color:rgb(220, 134, 39);}

#loginRegisterContainer input{border:2px solid #eee9e9;}
#loginRegisterContainer h2{
	color: rgb(51, 62, 107);
	font-size: 34px;
	font-weight: normal;
	font-family: HNL;
	margin: 0;
	text-align:center;
}
.email{width:409px;}
.logWidth{width:240px;}
.schoolBox{
	width: 150px; 
	height: 40px; 
	overflow: hidden; 
	background: white;
	background-size:14px auto; 
	background-position:98% 50%;
	display:inline-block;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color:rgb(51, 62, 107);
	margin-right: 20px;
}
.schoolBox input[type=text]{
	background: transparent;
	width: 150px;
	font-size: 14px;
	border: 1px solid  rgb(116,116,116);
	border-radius: 0;
	height: 40px;
	-webkit-appearance: none;
	color: rgb(116,116,116);
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 14px;
	padding-left:1px;
}
#register .disclaimer{padding-left: 160px;}
.male{background-image:url(../img/profile/male.png);}
.female{background-image:url(../img/profile/female.png); }
.male, .female{background-size: 37px 43px; background-position:15px 2px;}

.student{background-image:url(../img/profile/student.png);}
.family{background-image:url(../img/profile/family.png); }
.counselor{background-image:url(../img/profile/counselor.png);}
.student,.family,.counselor{ background-size: 45px 51px; background-position:12px 2px;}

#register .dropDown{display:inline-block; border:1px solid #eee9e9;}
#register .dropDown select{border:1px solid #eee9e9;}
.plus{font-size:28px; color:orange;}
#registerThankYou{width: 100%; overflow:hidden;}
#goToProfile{float:right;}
/* ================ Search Result ============= */
#maincontent.searchResults {border-left:2px solid rgb(116,166,166);border-right:2px solid rgb(116,166,166); padding: 0 10px 20px 10px;}
#maincontent.searchResults #resultSearch{width: 250px;margin-right: 5px;}
#maincontent.searchResults p{text-align:left;}
#maincontent.searchResults h3{text-align:left;}
#maincontent.searchResults h3 a{color:rgb(220, 134, 39); font-family:HNB; font-size: 18px;}
#maincontent.searchResults ul{list-style-type:none; padding:0;}
#maincontent.searchResults a{color:rgb(51,62,106); text-decoration:none;}
.searchNumber{
	color:rgb(51,62,106); 
	margin:0 auto; 
	font-family:Georgia, "Times New Roman", Times, serif; 
	text-align:center; 
	margin-bottom: 50px;
}
.searchNumber img{width:15px; height: 15px; margin: 0 5px;}
.searchResults .textWrap{width: 600px;}

/* ============== Messages ============= */
.messages #buttonContainer{padding-left: 220px; width: 900px; overflow:hidden;}
.messages ul{padding:0; list-style-type:none; color:rgb(51,62,106);}
#yourContact{display:inline-block; width: 200px;}
#contactScroller, #messageScroller{overflow-y:scroll;height:200px; border-top: 1px solid rgb(116,116,116);}
#messageContainer{width:700px; display:inline-block; vertical-align:top; margin-left:10px; border-left: 2px solid rgb(116,116,116); padding-left: 10px;}
#maincontent.messages #messageContainer h3{text-align:left;}
.msgName{color:rgb(51,62,106); font-family:Georgia, "Times New Roman", Times, serif; font-size:14px;}
.msgTime{color:rgb(220, 134, 39);font-family:Georgia, "Times New Roman", Times, serif; font-size:14px;}
.at{color:rgb(116, 116, 116);font-family:Georgia, "Times New Roman", Times, serif; font-size:14px;}
#messageBox textarea{width: 625px; height: 75px;}
#maincontent #messageContainer p{text-align:left;}
.inboxHeader{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:rgb(116, 116, 116);
	font-style:italic;
	border-bottom:2px solid rgb(116,116,116);
	display:inline-block;
	padding: 13px 0;
}
#inboxContainer{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:rgb(51,62,106);
	font-style:italic;
	border-left:2px solid rgb(116,116,116);
	width:700px;
	display:inline-block;
	vertical-align:top;
	
}
#inboxScrollable{	overflow-y:scroll;
	height:200px;}
#inboxScrollable a{color:inherit; text-decoration:none;}
.inboxHeader tr td:first-child,#inboxContainer tr td:first-child{width: 25px;}
.inboxHeader tr td:nth-child(2),#inboxContainer tr td:nth-child(2){width: 200px;}
.inboxHeader tr td:nth-child(3),#inboxContainer tr td:nth-child(3){width: 350px;}
.inboxHeader tr td:last-child,#inboxContainer tr td:last-child{width: 150px;}

#inboxContainer input[type="checkbox"]{display:none;}
#inboxContainer label{width: 13px;height:13px; border:1px solid rgb(116,166,166); display:block;}
#inboxContainer input[type="checkbox"]:checked + label{background-color:rgb(220, 134, 39);}


.messages ::-webkit-scrollbar {
    width: 12px;
}
.messages ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	background-color:rgb(51,62,106);  
}
#messagesSearchContainer{
	margin-top: 9px;
	width: 200px;
	height: 25px;
	border: 2px solid rgb(51, 62, 106);
	border-radius: 20px;
	float: right;
	background: white;
	overflow: hidden;
}
.messageSearchSkin{
	width: 170px;
	border: 0;
	height: 18px;
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.875em;
	color: rgb(51, 62, 106);	
}
.messages #overallContainer{width: 950px; margin:0 auto;}
/* ========= Notifications ============ */
.notifications{border-left:2px solid rgb(116,166,166);border-right:2px solid rgb(116,166,166); padding: 0 10px 20px 10px;}
.notifications a{text-decoration:none; color:inherit;}
.notifications ul{padding:0; list-style-type:none;}
#maincontent.notifications h3{border-bottom: 1px solid rgb(116,116,116);font-family:HNB; font-size:28px;text-align:left;}
#maincontent.notifications p {text-align:left;}
.notifName{color:rgb(220, 134, 39);}
.space{display:inline-block; width:50px;}

/* ============ Video Player ========== */
#videoPlayerText{width:90%; margin:0 auto;}
#videoPlayerText h3{
	color:rgb(51, 62, 106);
	font-weight:normal;
	font-size:18px;
	font-family:HNL;
}
#videoPlayerText p{
	color:rgb(116,116,116);
	font-weight:normal;
	font-size:14px;
	font-family:Georgia, "Times New Roman", Times, serif;
}