body {
    text-align: center;
}

a {
    color: #75941f;
}

#content {
    width: 900px;
	height: 500px;
    margin: 30px auto;
}

.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

.quickFlip {
    height: 200px;
    width: 25%;
    float: left;
}
.quickFlip img{
	width: 124px;
	height: 100px;
	margin: 0 auto;
	
	background-position: 20px 100px;
}
.panel1, .panel2, .panel3 {
    height: 200px;
    width: 200px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-family: "Trebuchet MS", Verdana, Sans-serif, sans;
    line-height: 40px;
}

.panel1 {
    background-color: white;
    z-index: 10;
	color: rgb(51, 62, 106);
}

.panel2 {
    background-color: rgb(51, 62, 106);
    color: #333;
	color:white;
}

.addthis_toolbox {
    width: 240px;
    margin: 30px auto;
}

.addthis_toolbox a {
    color: #000;
}

.footer {
    font-size: .8em;
}

/* Background Image */
#compareHousingFlip{background-image:url(../img/navBar/housing.png);}
#roommateMatchingFlip{background-image:url(../img/navBar/roomie.png);}
#admissionsFlip{background-image:url(../img/navBar/admissions.png);}
#financialFlip{background-image:url(../img/navBar/finances.png);}
#theRealLifeFlip{background-image:url(../img/navBar/theRealLife.png);}
#visitFlip{background-image:url(../img/navBar/visit.png);}
#scholarshipsFlip{background-image:url(../img/navBar/scholarship.png);}
#deadlinesFlip{background-image:url(../img/navBar/deadlines.png);}

#compareHousingFlip,#roommateMatchingFlip,#admissionsFlip,#financialFlip,#theRealLifeFlip,#visitFlip,#scholarshipsFlip,#deadlinesFlip{
	background-repeat:no-repeat;
	background-position:50% 50%;
	}