body {
    text-align: center;
}

a {
    color: #75941f;
}

#content {
    width: 900px;
	height: 500px;
    margin: 30px auto;
}

.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

.quickFlip {
    height: 200px;
    width: 25%;
    float: left;
}
.quickFlip img{
	width: 124px;
	height: 100px;
	margin: 0 auto;
	
	background-position: 20px 100px;
}
.panel1, .panel2, .panel3 {
    height: 200px;
    width: 200px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-family: "Trebuchet MS", Verdana, Sans-serif, sans;
    line-height: 40px;
}

.panel1 {
    background-color: white;
    z-index: 10;
	color: rgb(51, 62, 106);
}

.panel2 {
    background-color: rgb(51, 62, 106);
    color: #333;
	color:white;
}

.addthis_toolbox {
    width: 240px;
    margin: 30px auto;
}

.addthis_toolbox a {
    color: #000;
}

.footer {
    font-size: .8em;
}

/* Background Image */
#compareHousing{background-image:url(../img/navBar/housingGrey.png);}
#roommateMatching{background-image:url(../img/navBar/roommateGrey.png);}
#admissions{background-image:url(../img/navBar/admissionsGrey.png);}
#financial{background-image:url(../img/navBar/financeGrey.png);}
#theRealLife{background-image:url(../img/navBar/theRealLifeGrey.png);}
#visit{background-image:url(../img/navBar/visitGrey.png);}
#scholarships{background-image:url(../img/navBar/homeGrey.png);}
#deadlines{background-image:url(../img/navBar/deadlineGrey.png);}

#compareHousing,#roommateMatching,#admissions,#financial,#theRealLife,#visit,#scholarships,#deadlines{
	background-repeat:no-repeat;
	}