@font-face {
	font-family: "HelveticaNeue";
	src: url(../fonts/helveticaneue-light.otf);
}
/* =============== HEADER =========================*/
#header{ margin: 0 auto;}
#headerContent {
	margin-left: 140px;
	height: 125px;
	 width: 97.5%;
}
#header h1 {
	color: white;
	font-size: 1.5em;
	font-weight: normal;
}
#logoContainer img {
	width: 100px;
	height: 100px;
	background-size: 100% 100%;
	position:absolute;
}
#loginBar {
	width: 100%;
	height: 50px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#loginBarContainer {
	font-size: 1em;
}
#loginBar a {
	color: white;
}
/* ============= Button Nav ====== */
#newNav {
	width: 100%;
	white-space: nowrap;
	background-color: rgb(232, 229, 228);
	height-min: 100px;
	border-width: 3px;
	border-color: rgb(51, 62, 106);
	border-style: solid;
	display: table;
	border-collapse: collapse;
	border: none;
	padding-top: 3px;
}
#newNav ul {
	display: table-row;
}
#newNav li {
	display: table-cell;
	margin: 0;
	width: 12.5%;
	text-align: center;
	color: rgb(51, 62, 106);
}
#newNav p {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	color: gray;
	margin: 0;
	margin-bottom: 5px;
}
#newNav img {
	width: 124px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 5px;
}
/* ====== Sub Nav ======== */
#subNav {
	text-align: center;
	white-space: nowrap;
	background-color: grey;
	width: 100%;
	z-index: 2;
	padding: 5px 0;
}
#subNav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#subNav li {
	display: inline;
	color: white;
	padding: 0 10px;
	border-right: 2px solid white;
}
#subNav li:last-child {
	border: 0;
}
#subNav a {
	font-size: .9em;
	text-decoration: none;
	color: white;
}



/* ======== SEARCHING ====== */

.searchBox::-webkit-input-placeholder { /* WebKit browsers */
 color:rgb(51, 62, 106);
}
.searchBox:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:rgb(51, 62, 106);
}
.searchBox::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:rgb(51, 62, 106);
}
.searchBox:-ms-input-placeholder { /* Internet Explorer 10+ */
 color:rgb(51, 62, 106);
}
/* ========= College Site Search ============= */
#collegeSiteSearch {
	height: 90px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#collegeSiteSearch form {
	float: right;
	margin-top: 25px;
}
.collegeSiteSearchSkin {
	width: 300px;
	text-align: right;
	border: 0;
}
h1 {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-left: 5px;
}
/* =========== Nav Boxes =============== */
#buttonNav {
	height: 100px;
	width: 964px;
	margin-left: -2px;
	margin-bottom: -1px;
}
#buttonNav ul {
	list-style-type: none;
}
#buttonNav ul li {
	display: inline-block;
}
.box {
	width: 118px;
	height: 97px;
	color: white;
	background-color: white;
	z-index: -2;
}
#buttonNav img {
	padding: 0px;
	display: block;
	margin: 0 auto;
}
/* ============== MAIN CONTENT ====================*/
#maincontent {
	height-min: 200px;
	background: white;
	width: 97.5%;
	margin: 0 auto;
}
#maincontent h2 {
	color: rgb(51, 62, 107);
}
#maincontent h3 {
	color: rgb(49, 0, 0);
}
#maincontent h2, #maincontent h3 {
	text-align: center;
}
#maincontent p{
color: gray;
text-align: center;
}
/* ======= RoomMate ========= */
.rmTable {
	margin: 0 auto;
	border: none;
	border-collapse: collapse;
}
.rmTable td {
	color: gray;
	width: 50%;
	height: 30px;
	border-left: 2px solid gray;
	border-right: 2px solid gray;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.rmTable td:first-child {
	font-size: 1em;
	border-left: none;
	text-align: right;
	padding-right: 20px;
}
.rmTable td:nth-child(2) {
	font-size: 2em;
	text-align: left;
	border-right: none;
}

/* ============== Footer  ===================*/
.footer {
	width: 99%;
	background-color: rgb(232, 229, 228);
	height-min: 210px;
	text-align: center;
	border: 4px solid gray;
	white-space: nowrap;
	margin: 0 auto;
}

.footer img {
	margin: 0 auto;
}
.footer form{
margin:auto;
position:relative;
width:100%;
height:450px;
	}
.footer input, .footer textarea{
width:100%;
display:block;
}
.footer textarea{ height: 200px;}
/* ============== COLUMN  ===================*/

/* Select all of the column*/
[class*='col-'] {
float: left;
}
/* 2-3 represent 2/3 of whole width */
.col-2-3 {
	width: 66.66%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-2 {
	width: 49.99%;
}
.col-1-8 {
	width: 12%;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*='col-'] {
 padding-right: 2px;
}
[class*='col-']:last-of-type {
	padding-right: 0;
}
/* =============== Random Class ================= */
/* ======  Scrollable  ======= */
.scrollable {
	position: relative;
	overflow: hidden;
	width: 660px;
	height: 90px;
}
.scrollable .items {
	width: 2000em;
	position: absolute;
}
.items div {
	float: left;
}
.view{
	text-align: center;
	font-size: .9em;
	color: rgb(51, 62, 106);
	display:block;
	}
.ring{ margin: 0 auto;}
.ring ul{
display:inline-block;
margin: 0 auto;
}
.ring li{
	margin: 0;
	height: 110px;
	width: 110px;
	text-align: center;
	color: rgb(51, 62, 106);
	background-image:url(../img/orangeRing.png);
	background-size: 100% 100%;

}
/* ============== NULLIFY =======================*/

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	background-color: rgb(51, 62, 106);
	width: 100%;
	font-family: HelveticaNeue;
}

#container {margin: 0 auto;}
a {text-decoration: none;}
a:visited {color: inherit;}
/* ======================== EXPERIMENTAL STUFF ======================= */


#collegeSearch {
	background-color: white;
	height: 45px;
	overflow: hidden;
	border-width: 1px;
	border-color: gray;
}
.searchBox {
	font-size: 32px;
	height: 45px;
	width: 95%;
	color: white;
	background-color: white;
	border: 0;
	padding-left: 10px;
}
.searchBox input {
	padding-left: 50px;
}
.searchButton {
	text-indent: -99999px;
	display: inline-block;
	width: 39px;
	height: 21px;
	background-image: url(../img/triangle.png);
	background-color: white;
	border: 0;
	padding-top: 8px;
	padding-left: 5px;
	background-repeat: no-repeat;
}
#magnify {
	width: 16px;
	height: 15px;
	background-image: url(../img/magnifyingglass.png);
	display: inline-block;
	margin-bottom: -2px;
	margin-left: 5px;
	background-repeat: no-repeat;
}
.siteSearchContainer {
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	background-color: white;
}
/* ========== Messing with Boot Strap ============= */
[class*="span"] .span6 {
	display: inline-block;
	width: 48.61878453038674%
}
/* ============ Radio Button CSS ================== */
input[type="radio"] {
	display: none;
}
input[type="radio"] + label span {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	background: url(images/roommateRadioButton.png) left top no-repeat;
	cursor: pointer;
}
input[type="radio"]:checked + label span {
	background: url(images/roommateRadioButton.png) -22px top no-repeat;
}
