<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" rel="stylesheet" href="../css/main.css"/>
<link type="text/css" rel="stylesheet" href="../css/headerStyle.css"/>
<link type="text/css" rel="stylesheet" href="../css/bootstrap-responsive.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admissions</title>
</head>

<body>
<div id="header">
  <div id="loginBar">
    <div id="loginBarContainer"> <a href="#">Login |</a> <a href="#"> Register</a> </div>
  </div>
  <div id="searchBar">
    <div id="collegeSearchContainer">
      <form id="collegeSearchbox" action="">
        <input id="submit" type="submit" value="Search" name="submit"class="collegeSearchButton">
        <input id="search" type="text" name="collegeSearch" placeholder="The University of Texas at Austin" class="collegeSearchBox">
      </form>
    </div>
    <div id="logoContainer"><a href="/"> <img src="../img/logo.png" /></a> </div>
    <div id="siteSearchContainer">
      <form id="searchbox" action="">
        <div id="magnify"></div>
        <input id="search" type="text" placeholder="Search The University of North Texas" class="siteSearchSkin">
      </form>
    </div>
  </div>
  <div id="newNav">
    <ul>
      <li id="home"><a href="../home">HOME</a></li>
      <li id="housing"><a href="../housing">COMPARE <br />HOUSING</a></li>
      <li id="roomie"><a href="../roomieMatching">ROOMIE<br /> MATCHING</a></li>
      <li id="admissions"><a href="../admissions" >ADMISSIONS</a> </li>
      <li id="finances"><a href="../finances">FINANCES</a> </li>
      <li id="theRealLife"><a href="../theRealLife">THE REAL LIFE</a> </li>
      <li id="visit"><a href="../visit">VISIT</a> </li>
      <li id="deadlines"><a href="../deadlines">DEADLINES</a> </li>
    </ul>
  </div>
  <div id="subNav">
    <ul>
      <li><a>Lopem</a></li>
      <li><a>Posem</a></li>
      <li><a>Zeus</a></li>
    </ul>
  </div>
</div>
<div id="maincontent"> </div>
</body>
