
/* =============== HEADER =========================*/

@font-face{
	font-family:"franchise";
	src: url("fonts/franchise.ttf");

}
#header{color:white; width:960px;text-align:left:}
#logo{
	background-image: url(images/logobanner.png);
	height: 174px;
	width: 124px;
	position:absolute;
	}

#title{
	background-color:white;
	font-family: "franchise",serif;
	color:rgb(51, 62, 106);
	font-size:40px;
	height: 75px;
	text-indent: 20px;
	padding-top: 17px;
}
#headerContent{
	margin-left:125px;
	height: 190px;
	width: 836px;
	}	
	
#loginBar{
	width: 100;
	height: 40px;
background-color:rgb(157,154,154);
}
#loginBar button{
	display:inline-block;
	float:right;
	margin-top: 5px;
	margin-right: 5px;
	}
/* ========= Searching ====== */
#collegeSearch
{
	background-color:rgb(255,255,255);
	height:75px;
	overflow:hidden;	
}
.searchBox{
	font-family: georgia;
	font-weight: bold;
	font-size: 24px;
	color:rgb(157,154,154);
	height: 45px;
	width: 815px;
	border-color:rgb(157,154,154);
	border-width: 2px;
	border-radius: 5px;
	display: block;
	margin: auto;
	padding-left: 10px;
	
	
}

.searchButton{
	text-indent: -99999px;
  display: inline-block;
  width: 25px;
  height: 22px;
  position: relative;
  left: 850px;
  top: 35px;
  background-color: white;
  background-image:url(images/triangle.png);
  border-width: 0px;
  margin: auto;
 
}
.searchBox::-webkit-input-placeholder { /* WebKit browsers */
    color:rgb(157,154,154);
}
.searchBox:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:rgb(157,154,154);
}
.searchBox::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:rgb(157,154,154);
}
.searchBox:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:rgb(157,154,154);
}


/* ============ GRAPHIC TABLE============ */
table{ 
	display: table;
	margin-left: auto;
	margin-right: auto;
}

table td{
	line-height=50px;
	margin-top:0px;
	text-align:center;
	padding-left:30px;
	padding-right:30px;
	
}



.tableText{
	font-family:"franchise",serif;
	font-size:32px;
	text-align:center;
	color:rgb(51, 62, 106);
	line-height: 5%;
}



.icon{
	margin: auto;
	padding: 0px;
}

.icon2{
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	padding-top:0px;
	
}

/* ============== MAIN CONTENT ====================*/
#maincontent{
height: 1000px;
background: white;
}

/* ============== COLUMN CLASS ===================*/

/* Select all of the column*/
[class*='col-'] {
float: left;
}
/* 2-3 represent 2/3 of whole width */
.col-2-3 {
	width: 66.66%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-2 {
	width: 49.99%;
}
.col-1-8{
	width: 12.5%;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*='col-'] {
 padding-right: 10px;
}
[class*='col-']:last-of-type {
	padding-right: 0;
}
/* =============== Random Class ================= */
.wrapper {
	width: 960px;
	margin: 0 auto;
}
/* ============== NULLIFY =======================*/

html, body{
	
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body{background-color:rgb(51, 62, 106);}
/* ============= Generated CSS =================*/

    .loginButtonSkin {
        
background-color:rgb(51, 62, 106);
        
        border:1px solid #314179;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:13px;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
        
    }
    .loginButtonSkin:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
        background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
        background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
        background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
        background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
        background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
        
        background-color:#5972a7;
    }
    .loginButtonSkin:active {
        position:relative;
        top:1px;
    }
