/* =============== HEADER =========================*/

#logo {
	background-image: url(images/logobanner2.png);
	width: 120px;
	height: 168px;
	position: absolute;
	margin-left: 10px;
	background-size: 100% 100%;
}
#headerContent {
	margin-left: 140px;
	height: 200px;
}
#loginBar {
	width: inherit;
	height: 50px;
}
#loginBar a {
	display: inline-block;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	color: rgb(51, 62, 106);
	font-size: 1.3em;
}
/* ============= Button Nav ====== */
#newNav {
	width: 100%;
	position: absolute;
	background-color: rgb(232, 229, 228);
	height: 150px;
	margin-top: 200px;
	border-width: 3px;
	border-color: rgb(51, 62, 106);
	border-style: solid;
	display: table;;
	border-collapse: collapse;
	border: none;
}

#newNav ul {display: table-row;}

#newNav  li {
	display: table-cell;
	margin: 0;
	width: 12.5%;
	text-align:center;
	text-decoration:underline;
	color:rgb(51, 62, 106);
	text-align: center;
}

#newNav p{display:block;white-space: nowrap;overflow: hidden;}

#newNav img{ width: 100px; height: 100px;margin: 0 auto; }

/* ======== SEARCHING ====== */

.searchBox::-webkit-input-placeholder { /* WebKit browsers */
 color:rgb(255, 255, 255);
}
.searchBox:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:rgb(255, 255, 255);
}
.searchBox::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:rgb(255, 255, 255);
}
.searchBox:-ms-input-placeholder { /* Internet Explorer 10+ */
 color:rgb(255, 255, 255);
}
/* ========= College Site Search ============= */
#collegeSiteSearch {
	height: 100px;
}

#collegeSiteSearch form {
	float: right;
	margin-top: 25px;
}

.collegeSiteSearchSkin {
	width: 300px;
	text-align: right;
	border: 0;
}

h1 {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-left: 5px;
}
/* =========== Nav Boxes =============== */
#buttonNav {
	height: 100px;
	width: 964px;
	margin-left: -2px;
	margin-bottom: -1px;
}
#buttonNav ul {	list-style-type: none;}

#buttonNav ul li {display: inline-block;}

.box {
	width: 118px;
	height: 97px;
	color: white;
	background-color: white;
	z-index: -2;
}

#buttonNav img {
	padding: 0px;
	display: block;
	margin: 0 auto;
}

/* ============== MAIN CONTENT ====================*/
#maincontent {
	height: 1000px;
	background: white;
	margin-top: 152px;
}
#maincontent h2{
	color: rgb(51, 62, 107);
}
#maincontent h3{color: rgb(49, 0, 0);}
/* ============== COLUMN  ===================*/

/* Select all of the column*/
[class*='col-'] {
float: left;
}
/* 2-3 represent 2/3 of whole width */
.col-2-3 {
	width: 66.66%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-2 {
	width: 49.99%;
}
.col-1-8 {
	width: 12%;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*='col-'] {
 padding-right: 2px;
}
[class*='col-']:last-of-type {
	padding-right: 0;
}
/* =============== Random Class ================= */
/* ======  Scrollable  ======= */
.scrollable {
  position:relative;
  overflow:hidden;
  width: 660px;
  height:90px;
}

.scrollable .items {
  width:2000em;
  position:absolute;
}

.items div {
  float:left;
}
/* ============== NULLIFY =======================*/

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	background-color: rgb(51, 62, 106);
	width: 100%;
	font-family:
}
#container {
	width: 90%;
	margin: 0 auto;
}
/* ======================== EXPERIMENTAL STUFF ======================= */



#header {
	background-color: white;
	padding-right: 50px;
}
#collegeSearch {
	background-color: rgb(51, 62, 106);
	height: 45px;
	overflow: hidden;
	border-width: 1px;
	border-color: gray;
}
.searchBox {
	font-size: 32px;
	height: 45px;
	width: 95%;
	color: white;
	background-color: rgb(51, 62, 106);
	border: 0;
	padding-left: 20px;

}
.searchBox input{
padding-left: 50px;
}
.searchButton {
	text-indent: -99999px;
	display: inline-block;
	width: 25px;
	height: 22px;
	background-image: url(images/triangle.png);
	background-color: rgb(51, 62, 106);
	border: 0;
	padding-top: 8px;
	padding-left: 5px;
	background-repeat:no-repeat;
}
#searchContainer {
}
#header h1 {
	color: rgb(51, 62, 106);
	font-size: 1.5em;
}
#magnify {
	width: 16px;
	height: 15px;
	background-image: url(images/magnifyingglass.png);
	display: inline-block;
	margin-bottom: -2px;
	margin-left: 5px;
	background-repeat:no-repeat;
	
}
.siteSearchContainer {
	border-width: 1px;
	border-color: gray;
	border-style: solid;
}

/* ========== Messing with Boot Strap ============= */
[class*="span"] .span6 { display: inline-block; width: 48.61878453038674%}

/* ============ Radio Button CSS ================== */
input[type="radio"] {
    display:none; 
}
input[type="radio"] + label span {
    display:inline-block;
    width:22px;
    height:22px;
    vertical-align:middle;
    background:url(images/roommateRadioButton.png) left top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url(images/roommateRadioButton.png) -22px top no-repeat;
}