@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/


@font-face {
font-family: 'navigationFont';
src: url('fonts/franchisekit/franchise-webfont.eot') format('eot');
src: url('fonts/franchisekit/franchise-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/franchisekit/franchise-webfont.woff') format('woff'),
url('fonts/franchisekit/franchise-webfont.ttf') format('truetype'),
url('fonts/franchisekit/franchise-webfont.svg') format('svg');
font-weight: normal;
font-style:normal;
} 


a:link {color:white; text-decoration:none; font-weight:normal;}
a:visited{color:white; text-decoration:none;font-weight:normal;}
a:hover{color:white; text-decoration:none;font-weight:normal;}
a:active{color:white; text-decoration:none;font-weight:normal;}

#scrollingContainer { min-height:540px; width:100%; background-color:rgb(51,62,106);  }



#content{
	background-color:white;
	width:96%;
	min-height:540px;
	color:rgb(119,117,117);
	margin-left:auto;
	margin-right:auto;
}





img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}



/*button for current page */
.pageButton{
	width:100%;
	background-color:rgb(230,229,227);
	text-align:center;
	color:rgb(51, 62, 106);
	font-family:helvetica;
	font-size:.7em;
	margin:auto;
	height:100%;
}


.button{
	width:100%;
	background-color:rgb(230,229,227);
	text-align:center;
	color:rgb(119,117,117);
	font-family:helvetica;
	font-size:.7em;
	margin:auto;
	height:100%;
	}
	
.buttonPic{
	background-color:(230,229,227);
	margin:auto;
	padding-top:2%;
	
	

}

html, body{
	height:100%;
	font-size:100%;
}

body{
	background-color:rgb(51,62,106);
	position:relative;
	height:100%;
	
}


table{
	display:table;
	margin-bottom: 0px;
	padding:0;
	height:100%;
	margin-top:0px; 
	
}
table td{
	margin-top:0px;
	text-align:center;
	padding:0;
	height:auto;

}


.loginBar{
	background-color:rgb(51, 62, 106);
	border-color: rgb(51, 62, 106);
	border:medium;
	color:white;
	text-align:right;
	width:100%;
	height:35px;
	font-family:helvetica;
	font-size:.75em;
	margin:auto;
}

.topRight{
	float:right;
	margin-right:3%;
}

.FS{
	padding-top:5px;
	max-width:70px;
	float:left;
	margin-right:5px;
}

/* ========= Searching ====== */
#collegeSearch
{
	background-color:rgb(51,62,106);
	margin:auto;
	overflow:hidden;
	color: rgb(51, 62, 106);
	width:100%;
	

}
.searchWrapper{
	background-color:rgb(52,63,106);
	width:100%;
	margin-right:auto;
	margin-left:auto;
	margin-top:3px;
	margin-bottom:10px;
	height:25px;
}
.searchBox{
	background-color:white;
	font-family: georgia;
	color: rgb(51, 62, 106);
	margin:auto;
	height:25px;
	display:block;
	width:94%;
}



/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	height:100%;
	margin-left: 0;
	/*width: 87.36%;*/
	width:100%;
	padding-left: 0;
	padding-right: 0;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}




/*portrait vs landscape*/
@media screen and (orientation:portrait) { 
td{width:25%;}


#landscapeHeaderWrap {display:none;}
#landscapeHeader{ display:none;}




#headerWrap {background:rgb(51,62,106); width:100%; min-height:27%;}
#header{ width:inherit; text-align:center;  }






#footerWrap{ background:inherit; width:100%; }
#footer { margin:0 auto; width:inherit; text-align:center;   }




}
@media screen and (orientation:landscape) {

td {width:12.5%; height:auto;}

#footerWrap{ display:none; }
#footer {display:none;  }

#headerWrap { display:none;}
#header{display:none;}


#landscapeHeaderWrap { background:rgb(51,62,106);   padding-bottom:0px; width:100%;}
#landscapeHeader{ width:100%; text-align:center;}






	}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	background-color:rgb(52,63,106);
	width:100%;
	height:100%;
	/*width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;*/
	position:relative;
}
#LayoutDiv1 {
		background-color:rgb(52,63,106);

	clear: both;
	float: left;
	margin-left: 0px;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	/*width: 88.2%;*/
	width: 100%;
	height: 100%;
	max-width: 1232px;
	padding-left: 0%;
	padding-right: 0%;
	margin: auto;
	background-color: rgb(52,63,106);
	height: 100%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0px;
	width: 100%;
	display: block;
}
}
